<div class="continer">
    <div class="row">
      <div class="col-12 img-nawa1-color">
  
        <div class="card-desing ">
        <h1 class="h-style" >تۆری نەوا بۆرێکخراوە مەدەنیەکان</h1>
          <p class="p-4 p-style">ئامانجەکانی تۆری نەوا
            ئامانجەکانی تۆری نەوا
            یەکەم - ئامانجەکان:
            1 - کاردەکات بۆ بەرگری کردن لە مافی هاوڵاتیان لەسەر بنەمای پاراستنی مافی مرۆڤ و دادی کۆمەڵایەتی
            2 - هەڵدەدات بە خەباتی مەدەنی دوور لە توندو تیژی لە سێکتەرە جیاجیاکانی کۆمەڵگادا ( یاسای ، کۆمەڵایەتی ،ئابوری ،تەندروستی ،کارگێڕی ڕیفۆرم بکات ).
            گەشەپێدانی هونەری و کلتووری تاک بە هەموو شێوازە جیاجیاکانییەوە (شێوەکاری، شانۆیی، سینەمایی، سرودو مۆسیقا، ...هتد.
            3- گەشەپێدان بەلایەنى زانستى و خوێندن.
            4- چارەسەرکردنى کێشەى کشتوکال و ژینگە.
            5- گێرانەوەى شکۆمەندى بۆ مرۆڤەکان لە رێگەى داکۆکى کردن لە مافەکانیان بۆ دەستەبەرکردنى پێویستیەکانیان .
            6- گەشەبێدانى تواناکانى تاک لە کۆمەلگا لە بوارى رۆشنبیرى و کەلتورى و ڕاگەیاندنێکى سەربەخۆ .
            7- هەڵدەدات ناوەندێکی بەهێزی گوشاربێت بۆ پارێزگاری لە سەربەخۆی ڕبَکخراوەکان وئامانجە پیشەیەکانیان .
            8- زەمینە خۆشکردن بۆ بەشداری ئافرەت لە هەموو ئاست و بوارێکی ژیاندا .
            بەرەو پێش بردنى خەلک و کۆمەلگە بە شێوازیکى مۆدیرن و پێشکەوتانە.
            هاوکارى و هەماهەنگى لەگەل دەزگا پەیوەندى دارەکان و تۆڕە ناوخۆى و جیهانیەکان بۆ بەدیموکراسى کردنى دامەزاروە (پەروەردەیى ،رۆشنبیرى و کەلتورى ،ڕاگەیاندنەکان بە گشت جۆرەکانى ،کۆمەلایەتى ...هتد)
            9- هاوکاری و هەماهەنگی لەگەڵ تۆڕە نێودەوڵەتی ولۆکاڵیەکان بە مەبەستی پڕۆژەی هاوبەش لە هەموو سێکتەرەکانی داد گەری و ئابوری و کارگێڕی و کۆمەلایەتی هەولدان بۆ گەشەبیدانى سیستەمى پەروەردەو فێرکردن لە رێگاى ئاشنا کردنى کۆمەلگا بە شێوازى تازەى فێرکرن هاوشێوەى وولاتە پێشکەوتووەکانى جیهان و رێگا خۆشکردن بۆ دەرکەوتنى بەهەرەمەندان وەبواردان بە داهێنان بە دیهێنانی سیتەمێکی پەروەردەی هاوچەرخ .
            10- فەراهەم کردنى هەلى یەکسان بۆ گەنجان و پەرەپێدان بە تواناکانیان لە رووى کەلتوورى و فەرهەنگى و ئابوریەوە ،ئەمەش لە رێگەى زەمینە سازی ڕەخساندنی دەرفەت بۆ بەهرەو توانایان وشیارو کردنەوەیان بۆ بەدیهێنانى ئامانجەکانیان .
            11- گەشە پێدانى کلتورى یەکترقبول کردن و کیانى لێبوردەی و بیکەوژیان ،پەرەپێدان بە فەرهەنگى دایەلۆگ و وەرگرتنى ڕاى بەرامبەر و بەرنگاربوونەوەى توندوتیژى بە هەموو جۆرەکانى بە تایبەتى دژ بە ئافرەتان و مندالان و وە هەروەها ناساندنیان بە یاساکان و رێنیشاندانى مافەکانیان .
            12- گرنگیدان بە بلاوکردنەوەى فەرهەنگی خۆشەویستی وولات و ژینگەپارێزى و قولکردنەوەى چەمکى هاونیشتیمان بوون و پەرەپێدانى ژینگە لە ناوکۆمەلگا.
            13- بەرزکردنەوە ئاستى ژیانى خێزانە کەمدەرامەتەکان بە پێشکەشکردنى ئەزموون و خولى فێرکردن و پیشەیى و پێدانى قەرزى بچوک بە هەماهەنگى لەگەل لایەنى پەیوەندیدار و تۆڕە ناوخۆى و نێودەولەتیەکان خێرخوازان و سندوقى پەرەپێدانى بانکەکان.
            14- هەولدان بۆ چارەسەر کردنى کێشەى پەنابەران و ئاوارەبووەکانى کە بە هۆى روودانى جەنگ دوچارى دەبن ئەمەش بە هەماهەنگى کردن لەگەل تۆڕە نیودەولەتى و ناوخۆیەکان و لایەنى پەیوەندى دار ،ئەمەش لە رێگاى هاوکارى کردنى ماددى مەعنەوى.
            
            
  </p>
       
        </div>  
        <button type="button" class="btn btn-auotline-danger btn-lg btn-design">زیــــــــاتر</button>
          
      </div>
    </div>
  </div>