
<nav class="navbar navbar-expand-md navbar-light bg-light shadow-lg bg-white rounded ">

    <a class="navbar-brand" href="#">
        <img class="img-nawa" src="https://scontent.febl5-2.fna.fbcdn.net/v/t1.0-1/p160x160/67247192_116056459711628_6227938213990760448_o.jpg?_nc_cat=106&_nc_sid=dbb9e7&_nc_oc=AQk9Vk5A7zBx6aNRoP6ZQ6XOxDS4jhtafT8qcwlUFykY-FD7s1zonxY63gnt-Tpv9aY&_nc_ht=scontent.febl5-2.fna&_nc_tp=6&oh=e4698840a27fea839517865ff38e0bdb&oe=5EFE2A50" width="30" height="30" alt="">
      NAWA Organaization
      <span class="span-res">تۆری نەوا بۆ رێکخراوە مەدەنیەکان</span>
    </a>   
       <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-i">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse div-style" id="navbar-i">
    <ul class="navbar-nav ml-auto ul-responsive">
        <li class="nav-item nav-item-res">
            <a href="#" class="nav-link">وتارەکان</a>
        </li>
        <li class="nav-item nav-item-res">
            <a href="#" class="nav-link">
               دەربارەی تۆرەکە 
            </a>
        </li>
        <li class="nav-item nav-item-res">
            <a href="#" class="nav-link">چالاکیەکان</a>
        </li>
        <li class="nav-item nav-item-res border-res">
            <a href="#" class="nav-link text-danger border-res-a ">پەیوەندی</a>
        </li>
    </ul>
</div>

</nav>
<div class="continer">
  <div class="row">
    <div class="col-12 img-nawa1-color">

      <div class="card-desing ">
      <h1 class="h-style" >تۆری نەوا بۆرێکخراوە مەدەنیەکان</h1>
        <p class="p-4 p-style">ئامانجەکانی تۆری نەوا
          یەکەم
          1 - کاردەکات بۆ بەرگری کردن لە مافی هاوڵاتیان لەسەر بنەمای پاراستنی مافی مرۆڤ و دادی کۆمەڵایەتی
          2 - هەڵدەدات بە خەباتی مەدەنی دوور لە توندو تیژی لە سێکتەرە جیاجیاکانی کۆمەڵگادا ( یاسای ، کۆمەڵایەتی ،ئابوری ،تەندروستی ،کارگێڕی ڕیفۆرم بکات ).
          گەشەپێدانی هونەری و کلتووری تاک بە هەموو شێوازە جیاجیاکانییەوە (شێوەکاری، شانۆیی، سینەمایی، سرودو مۆسیقا، ...هتد.
          3- گەشەپێدان بەلایەنى زانستى و خوێندن.
          4- چارەسەرکردنى کێشەى کشتوکال و ژینگە.
</p>
     
      </div>  
      <button type="button" class="btn btn-danger btn-lg btn-design">زیــــــــاتر</button>
        
    </div>
  </div>
</div>

<div class="container">

<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="10000">
      <img  src="https://scontent.febl5-2.fna.fbcdn.net/v/t1.0-9/81043422_162491771734763_7808840492245843968_n.jpg?_nc_cat=100&_nc_sid=110474&_nc_ohc=eaY9KFQovH4AX9VgMrj&_nc_ht=scontent.febl5-2.fna&oh=1ec7f3746707da662089579c41595a70&oe=5EEECC4B" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-interval="2000">
      <img src="https://scontent.febl5-1.fna.fbcdn.net/v/t1.0-9/81665302_166023148048292_3209373518336622592_n.jpg?_nc_cat=110&_nc_sid=110474&_nc_ohc=xsT_RDOyyM0AX-7Hq8K&_nc_ht=scontent.febl5-1.fna&oh=168001400983d844c9f22bbdfdcb203d&oe=5EF4FDC8" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.febl5-1.fna.fbcdn.net/v/t1.0-9/81486174_162491811734759_6144204270322319360_n.jpg?_nc_cat=105&_nc_sid=110474&_nc_ohc=8T0A7OoLcpcAX9I2rSt&_nc_ht=scontent.febl5-1.fna&oh=4bf389ba569229a3c5d55a3c8ef7e523&oe=5EF5134F" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.febl5-2.fna.fbcdn.net/v/t1.0-9/80716840_162491575068116_4543643106414690304_n.jpg?_nc_cat=100&_nc_sid=110474&_nc_ohc=znkTKE60ZngAX8dh3ig&_nc_ht=scontent.febl5-2.fna&oh=96f58b186691bd01694516eb9c7a11bf&oe=5EE694F1" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.febl5-1.fna.fbcdn.net/v/t1.0-9/82087658_162491965068077_7607530569013919744_n.jpg?_nc_cat=105&_nc_sid=110474&_nc_ohc=9qqo09pEywYAX_3NUUV&_nc_ht=scontent.febl5-1.fna&oh=3e8896d3f24d5dbb9766dc19d3d1a885&oe=5EF7E9A6" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.febl5-2.fna.fbcdn.net/v/t1.0-9/80710577_162492038401403_4301969630290771968_n.jpg?_nc_cat=104&_nc_sid=110474&_nc_ohc=hq5RGKN-5r8AX_-gr-r&_nc_ht=scontent.febl5-2.fna&oh=e367207db49385bb690c37ae60f0078c&oe=5EEEC7BE" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.febl5-2.fna.fbcdn.net/v/t1.0-9/81981516_162492195068054_6809694884308451328_n.jpg?_nc_cat=102&_nc_sid=110474&_nc_ohc=19_wFcPfdAgAX9l96bU&_nc_ht=scontent.febl5-2.fna&oh=297e3764a0017d6007a07b452ab59781&oe=5F01BB18" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.febl5-2.fna.fbcdn.net/v/t1.0-9/73314405_143466850303922_292969928397422592_n.jpg?_nc_cat=109&_nc_sid=110474&_nc_ohc=QrXQLBXVguEAX-Koxe5&_nc_ht=scontent.febl5-2.fna&oh=785822cdbaf38c798eed462283a86594&oe=5EE6220D" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.febl5-1.fna.fbcdn.net/v/t1.0-9/69242052_127106171939990_8287609292823986176_n.jpg?_nc_cat=111&_nc_sid=110474&_nc_ohc=UToWXNqBUIYAX9WGgg8&_nc_ht=scontent.febl5-1.fna&oh=29af8166f97c613401f6c24508761d84&oe=5F014F7A" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.febl5-1.fna.fbcdn.net/v/t1.0-9/67454556_118877719429502_9173126137876840448_o.jpg?_nc_cat=101&_nc_sid=8024bb&_nc_ohc=vBdCdDmTSTcAX9cpc5f&_nc_ht=scontent.febl5-1.fna&oh=29af6f63532c181cdfe8132b89204d76&oe=5EECDC6D" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.febl5-1.fna.fbcdn.net/v/t1.0-0/p180x540/67596210_118727446111196_6936922162192187392_n.jpg?_nc_cat=108&_nc_sid=dd9801&_nc_ohc=4472GEwGTAQAX-3XBGg&_nc_ht=scontent.febl5-1.fna&_nc_tp=6&oh=afa4e7fa90c4ef6a49506f4ba64f8b11&oe=5EE54133" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.febl5-2.fna.fbcdn.net/v/t1.0-0/p640x640/67710122_118877632762844_1985292707806838784_o.jpg?_nc_cat=106&_nc_sid=8024bb&_nc_ohc=l1NXCkilZIIAX_uSWO6&_nc_ht=scontent.febl5-2.fna&_nc_tp=6&oh=5e69d652fb2e04da1596547804219095&oe=5EFA2A71" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.febl5-2.fna.fbcdn.net/v/t1.0-9/80684472_162491678401439_117098503754219520_n.jpg?_nc_cat=102&_nc_sid=110474&_nc_ohc=72OUaGs81g4AX-Z-vlT&_nc_ht=scontent.febl5-2.fna&oh=8d42770655bbcaf37ffa843113e27936&oe=5F03B09B" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://scontent.febl5-1.fna.fbcdn.net/v/t1.0-9/81242134_162491608401446_7028831838101569536_n.jpg?_nc_cat=103&_nc_sid=110474&_nc_ohc=6aqFru8TuSwAX8lyuzE&_nc_ht=scontent.febl5-1.fna&oh=ac97dafe650768d54e8e974d1ab0de58&oe=5EF7B0EC" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


</div>



<div class="container container-card">
  <div>
    <h1 class="head-of-nawa"> کارو چالاکیەکانی تۆری نەوا</h1>
  </div>




  <!-- card information -->

    <div class="card-deck">
        <div class="card shadow-lg">
          <img class="card-img-top" src="https://scontent.febl5-2.fna.fbcdn.net/v/t1.0-9/84353481_179805006670106_6486478752535543808_n.jpg?_nc_cat=102&_nc_sid=110474&_nc_ohc=wCTvwdwxPvkAX9Kyy8D&_nc_ht=scontent.febl5-2.fna&oh=f751b8a3516750bb4885ed8574051c09&oe=5EBB90A7" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-align-center">رەوشی پێکهاتەکان</h5>
            <p class="card-text">سیمینارێك سه‌باره‌ت به‌ پرۆژه‌یاسایی دڵنیایی و ده‌سته‌به‌ری كۆمه‌ڵایه‌تی گشتی.

              رۆژی سێشه‌ممه‌ 4\2\2020 تۆری نە وا بەهاوکاری یه‌كێتی په‌رله‌مانتارانی كوردستان سیمینارێكی سه‌باره‌ت به‌ ئاماده‌كردنی پرۆژه‌ یاسایه‌ك بۆ ده‌سته‌به‌ری كۆمه‌ڵایه‌تی و دڵنیایی له‌ هه‌رێمی كوردستان سازکرد.</p>
            <p class="card-text"><small class="text-danger">5/2/2020</small></p>
          </div>
        </div>
        <div class="card shadow-lg">
          <img class="card-img-top" src="https://scontent.febl5-1.fna.fbcdn.net/v/t1.0-9/81665302_166023148048292_3209373518336622592_n.jpg?_nc_cat=110&_nc_sid=110474&_nc_ohc=xsT_RDOyyM0AX-7Hq8K&_nc_ht=scontent.febl5-1.fna&oh=168001400983d844c9f22bbdfdcb203d&oe=5EF4FDC8" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-align-center">کۆنفرانسی بازرگانی</h5>
            <p class="card-text">ئەمرۆ تۆری نەوا بۆ رێکخراوە مەدەنیەکان لە هەماهەنگی و هاوکاری وەزارەتی بازرگانی و پیشەسازی کۆنفرانسی پەرەپێدانی کەرتی پیشەسازی سەرخست ،کۆنفرانسێک تایبەتمەندی بە هاوکاری رێکخراوە مەدەنیەکان دا لە هەماهەنگی دامەزراوەکان بۆ پێشخستنی بوارێکی گرنگی کۆمەڵگەکەکەرتی</p>
            <p class="card-text "><small class=" text-danger">13/1/2020</small></p>
          </div>
        </div>
        <div class="card shadow-lg">
          <img class="card-img-top card-img-top-1" src="https://scontent.febl5-2.fna.fbcdn.net/v/t1.0-9/73314405_143466850303922_292969928397422592_n.jpg?_nc_cat=109&_nc_sid=110474&_nc_ohc=vmicLUh6TWAAX-rmggp&_nc_ht=scontent.febl5-2.fna&oh=5d40eee5bf2efb4ec890dba0132b5311&oe=5EBE950D" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-align-center">پێکەوەژیان لەنێوان ئایینەکان</h5>
            <p class="card-text">تۆڕی نەوا بۆ ڕێکخراوە مەدەنییەکان بەهاوکاری ڕێکخراوی مەسەلە هەڵسا بە ئەنجامدانی پانێڵی (پێکەوەژیان لەنێوان ئایینەکان).
              ۲۰۱۹/۱۰/۲٦
              هۆڵی سەنتەری ڕۆشنبیری وکۆمەڵایەتی زانکۆی صلاح الدین.</p>
            <p class="card-text"><small class="text-danger">26/10/2019</small></p>
          </div>
        </div>
        
      </div>
      <div class="card-deck mt-4">
        <div class="card shadow-lg">
          <img class="card-img-top" src="https://scontent.febl5-2.fna.fbcdn.net/v/t1.0-9/80389090_161477391836201_2644595987611385856_n.jpg?_nc_cat=104&_nc_sid=110474&_nc_ohc=cEn1lwTpcqgAX9JM94O&_nc_ht=scontent.febl5-2.fna&oh=cadfa3311ebc4e0987128676122f6c3f&oe=5EB586A2" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-align-center">رەوشی پێکهاتەکان ،سیاسەت و پێکەوەژیان لەکوردستان</h5>
            <p class="card-text">تۆڕی نەوا ؛
              گفتوکۆیەکی کراوەوگەرم ،سەبارەت بە( رەوشی پێکهاتەکان ،سیاسەت و پێکەوەژیان لەکوردستان)، لەنیوان نوێنەروسیاسیەتوانانی پێکهاتەکان و ئامادەبوان ئەنجامدرا</p>
            <p class="card-text"><small class="text-danger">28/12/2019</small></p>
          </div>
        </div>
        <div class="card shadow-lg">
          <img class="card-img-top" src="https://scontent.febl5-1.fna.fbcdn.net/v/t1.0-9/69264360_127106615273279_4092578945134755840_n.jpg?_nc_cat=108&_nc_sid=110474&_nc_ohc=G6ISU_XJSLkAX-xEkLq&_nc_ht=scontent.febl5-1.fna&oh=ace8a8ab4ae64cb87edf1a750c4c464d&oe=5EF5C02F" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-align-center">لە پێنـاو پـەروەردەێکی هاوچەرخ</h5>
            <p class="card-text">تـۆڕی نــەوا:بـۆڕێکخراوە مـەدەنیەکانN N C O
              کۆنفڕانسی دوەمی چاکسازی لە بواری پەروەردە بە دروشمی"لە پێنـاو پـەروەردەێکی هاوچەرخ" سـاز کرد .بە .</p>
            <p class="card-text"><small class="text-danger">29/8/2019</small></p>
          </div>
        </div>
        <div class="card shadow-lg">
          <img class="card-img-top" src="https://scontent.febl5-2.fna.fbcdn.net/v/t1.0-9/67479802_118878056096135_941246214676938752_o.jpg?_nc_cat=104&_nc_sid=8024bb&_nc_ohc=aZlIboj0ut0AX-AmTXW&_nc_ht=scontent.febl5-2.fna&oh=33833300b0ad0dc1388e817e01fa9196&oe=5F0183F5" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-align-center">کۆنفرانسی کۆربەندی چاکسازی </h5>
            <p class="card-text">تۆڕی نە وا؛ بە سە رکە وتوی بە ئامە دە بونی هە لبژاردە یە کی دیاری هە رێمی کوردستان کۆنفرانسی کۆربەندی چاکسازی سازدا.</p>
            <p class="card-text"><small class="text-danger">4/10/2019</small></p>
          </div>
        </div>
        
      </div>

</div>

<footer class="section footer-classic context-dark bg-image" style= background-image:linear-gradient(#4b6cb7,#182848);
>
  <div class="container">
    <div class="row row-30">
      <div class="col-md-4 col-xl-5">
        <div class="pr-xl-4"><a class="brand" href="index.html"><img class="brand-logo-light" src="https://scontent.febl5-2.fna.fbcdn.net/v/t1.0-1/p160x160/67247192_116056459711628_6227938213990760448_o.jpg?_nc_cat=106&_nc_sid=dbb9e7&_nc_oc=AQk9Vk5A7zBx6aNRoP6ZQ6XOxDS4jhtafT8qcwlUFykY-FD7s1zonxY63gnt-Tpv9aY&_nc_ht=scontent.febl5-2.fna&_nc_tp=6&oh=e4698840a27fea839517865ff38e0bdb&oe=5EFE2A50" alt="" width="50" height="50"></a>
          <p>We are an award-winning creative agency, dedicated to the best result in web design, promotion, business consulting, and marketing.</p>
          <!-- Rights-->
          <p class="rights"><span>©  </span><span class="copyright-year">2020</span><span> </span><span>Nawa organization</span><span>. </span><span>All Rights Reserved.</span></p>
        </div>
      </div>
      <div class="col-md-4">
        <h5>Contacts</h5>
     
        <dl class="contact-list">
          <dt>email:</dt>
          <dd><a href="mailto:#">torenawa@gmail.com</a></dd>
        </dl>
        <dl class="contact-list">
          <dt>facebook:</dt>
          <dd><a href="mailto:#">Tore Nawa</a></dd>
        </dl>
        <dl class="contact-list">
          <dt>phones:</dt>
          <dd><a href="tel:#">+9647508492024</a> 
          </dd>
        </dl>
      </div>
      <div class="col-md-4 col-xl-3">
        
        <ul class="nav-list">
          <li class="li-resp"><a href="#">About</a></li>
          <li class="li-resp"><a href="#">Event</a></li>
          <li class="li-resp"><a href="#">Activity</a></li>
          <li class="li-resp"><a href="#">Contacts</a></li>
        
        </ul>
      </div>
    </div>
  </div>
  
</footer>

<!--  -->
